google-api-core==2.18.0
google-api-python-client==2.167.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.65.0
async-timeout==5.0.1
circlify==0.15.0
ekphrasis==0.5.4
elastic-transport==8.17.1
elasticsearch==8.17
emoji==2.14.1
loguru==0.7.3
numba==0.60.0
numpy==1.26.4
openai==1.75.0
optuna==4.3.0
pandas==2.2.3
pymongo==4.12.0
stopwordsiso==0.6.1
urllib3==2.5.0
requests==2.32.3
torch==2.3.1
torchvision==0.18.1
transformers==4.56.1
networkx==3.4.2
hvac==2.3.0
yake==0.4.8
--extra-index-url=https://pypi.nvidia.com
cuml-cu12==25.2.*
threadpoolctl==3.4.0
tqdm==4.67.1
unidecode==1.4.0
nltk===3.8.1
contractions==0.1.73
langchain-openai==0.3.23
langchain-community==0.3.27
pydantic==2.11.9
sympy==1.14.0
scikit-learn==1.7.2
sentence-transformers==5.1.1